<div>
    <div style="margin-left: 3em; margin-right:1em;">
        <p>
            stuff used:
        </p>
        <ul>
            <li>.net 4.5, ASP.net MVC 5, EF 6, Owin</li>
            <li><a href='https://demo.aspnetawesome.com'>ASP.net Awesome</a> (trial version)</li>
            <li><a href="https://github.com/omuleanu/ValueInjecter">ValueInjecter</a> for mapping</li>
            <li><a href="http://jquery.com">jQuery</a>
            <li><a href="https://github.com/omuleanu/imager">Imager</a>, <a href='https://blueimp.github.io/jQuery-File-Upload/'>jQuery File Upload</a> and <a href="http://deepliquid.com/content/Jcrop.html">Jcrop</a> for uploading, cropping and resizing images</li>
            <li><a href="http://encrypto.codeplex.com">Encrypto</a> for hashing and salting passwords</li>
            <li><a href="http://www.castleproject.org/container/">Castle Windsor</a> IoC Container</li>
            <li><a href="http://code.google.com/p/elmah/">ELMAH</a> for logging</li>
            <li><a href="http://nunit.org/">NUnit</a> and <a href="http://code.google.com/p/fakeiteasy/">FakeItEasy</a> for testing</li>
            <li><a href="http://www.tinymce.com">TinyMCE</a> as wysiwyg editor</li>
            <li><a href="http://html-agility-pack.net">Html Agility Pack</a> for sanitizing html</li>
        </ul>
        <br />
        download solution archive: <a href="https://www.aspnetawesome.com/Download/ProDinner">download prodinner</a>
        <br />
        <br />
        <div style="max-width: 500px; height: 70px;">
            @Html.Partial("Social")
        </div>
    </div>
</div>